*{
    margin: auto;
    padding: auto;
    font-family: 'Comfortaa', cursive;
    list-style-type: none;
}
body{
    background: rgba(65, 208, 226, 0.429);
    
}
.wrapper{
    max-width: 500px;
    background: white;
    margin: 20em auto;
    border-radius: 10px;
    box-shadow: 0 4px 0 -2px rgb(203, 202, 202);
    padding: 1rem;

}
.taskinput{
    width: 26rem;
    height: 2rem;
    display: grid;
    grid-auto-flow: column;
    margin: 2em;
    margin-left: 6.5em;
    position: relative;
}
.taskinput i{
    position: absolute;
    top: 2em;
    transform: translate(10px, -34px);
    z-index: 3;
    color: #999;
}
.taskinput input{
    height: 100%;
    width: 100%;
    border-radius: 1.4rem;
    padding: 1rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    position: absolute;
    border:1px solid #999;
}
.controls{
    padding: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.controls .filters span{
    margin-left: 20px;
    font-weight: 900;
    font-size: 1.2rem;
    position:relative;
    cursor: pointer;
}
span::before{
    max-width: 2.5rem;
    width: 0%;
    height: 3px;
    border-radius: 20px;
    content: '';
    background: #d279ad;
    position: absolute;
    left:-0.5rem;
    top: 14px;
    transform: translateX(55%);
    display: block;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
}
span:hover::before{
    width: 100%;
}

.controls button{
    background: #d279ad;
    border: none;
    width: 10rem;
    height: 2.5rem;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.5s;
}
.controls button:hover{
    background: black;
    color: white;
}
.task-box{
    font-size: 1.3rem;
    margin-left: -3.4rem;
    position: relative;
}
.task-box .task{
    display: flex;
    text-align: left;
    box-shadow: 0px 2px 2px 0px rgba(230, 222, 222, 0.621);
    border-radius: 10px;
}
.task-box li .settings{
    margin-right: 1.3rem;
    }
.task-box label{
    display: flex;
    margin: 20px;
    text-align: left;
}
.task-box label p.checked{
    text-decoration: line-through;
}
.task-box label input{
    margin-right: 20px;
}
.settings .taskmenu{
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 6px rgba(203, 114, 114, 0.377);
    transform: scale(0);
    z-index: 2;
    transform-origin: top right;
    transition:transform 0.4s ease;
    left: 80%;
    top: 10px;
}
.settings:hover .taskmenu{transform: scale(1);} 
.taskmenu li{
margin-bottom: 0.5rem;
margin-top: 0.5rem;
cursor: pointer;
}
.taskmenu li:hover{background-color: #7a7a7a6b;}
i{cursor: pointer;}