/* You can add global styles to this file, and also import other style files */
*{
    margin: auto;
    padding: auto;
    font-family: 'Comfortaa', cursive;
    list-style-type: none;
}
body{
    background: rgba(65, 208, 226, 0.429);
}

