<h1>{{title}}</h1>

<body>

  <!--<input id="date-picker" type="date">
  <input id="todo-title" type="text">
  <span><button onclick="addTodo()">Add Task</button></span>-->
      <!--adding a div, with id such that any data that is reflected by the 3d manouver updates the div, making manipulation easier
              <div id="toditems"></div>-->

  <div class="wrapper">
    <app-input></app-input>
    <app-nav-stuff></app-nav-stuff>
    <app-append-list></app-append-list>
  </div>          

</body>